<div>
    <h2 id="page-heading">
        <span>Infirmiers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-infirmier" [routerLink]="['/infirmier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Infirmier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="infirmiers?.length === 0">
        <span>No infirmiers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="infirmiers && infirmiers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nom</span></th>
                    <th scope="col" ><span>Prenom</span></th>
                    <th scope="col" ><span>Adresse</span></th>
                    <th scope="col" ><span>Telephone</span></th>
                    <th scope="col" ><span>Centre</span></th>
                    <th scope="col" ><span>Etat</span></th>
                    <th scope="col" ><span>Est Mobile</span></th>
                    <th scope="col" ><span>Est Fixe</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infirmier of infirmiers ;trackBy: trackId">
                    <td><a [routerLink]="['/infirmier', infirmier.id, 'view']">{{ infirmier.id }}</a></td>
                    <td>{{ infirmier.nom }}</td>
                    <td>{{ infirmier.prenom }}</td>
                    <td>{{ infirmier.adresse }}</td>
                    <td>{{ infirmier.telephone }}</td>
                    <td>{{ infirmier.centre }}</td>
                    <td>{{ infirmier.etat }}</td>
                    <td>{{ infirmier.estMobile }}</td>
                    <td>{{ infirmier.estFixe }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/infirmier', infirmier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/infirmier', infirmier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(infirmier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
