<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mdcParm">
            <h2><span>Mdc Parm</span> {{ mdcParm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ mdcParm.nom }}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ mdcParm.prenom }}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{ mdcParm.adresse }}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{ mdcParm.telephone }}</span>
                </dd>
                <dt><span>Centre</span></dt>
                <dd>
                    <span>{{ mdcParm.centre }}</span>
                </dd>
                <dt><span>Etat</span></dt>
                <dd>
                    <span>{{ mdcParm.etat }}</span>
                </dd>
                <dt><span>Est Mobile</span></dt>
                <dd>
                    <span>{{ mdcParm.estMobile }}</span>
                </dd>
                <dt><span>Est Fixe</span></dt>
                <dd>
                    <span>{{ mdcParm.estFixe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mdc-parm', mdcParm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
